@font-face {
  font-family: "Sporting";
  src: url("sporting.ttf") format("truetype");
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:focus {
  outline: none;
}

html {
  --vh: 1px;
}

@media (max-width: 767px) {
  html {
    --font-size-big: 36px;
  }
}

body {
  background: linear-gradient(
    45deg,
    rgba(122, 0, 255, 1) 0%,
    rgba(55, 95, 255, 1) 100%
  );
  color: white;
  display: grid;
  font-family: -apple-system, system-ui, Helvetica, Arial, sans-serif;
  font-size: 14px;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 65% 15%;
  height: calc(var(--vh, 1vh) * 100);
  letter-spacing: 0.04em;
  margin: 0;
  width: 100vw;
}

@media (max-width: 767px) {
  body {
    grid-template-rows: 25% 55% 20%;
  }
}

* {
  box-sizing: border-box;
}

a {
  border-bottom: 1px solid transparent;
  color: inherit;
  text-decoration: none;
  transition: border 0.2s ease;
}

a:hover {
  border-bottom: 1px solid #fff;
}

.header {
  display: grid;
  font-family: "Sporting", monospace;
  font-size: 32px;
  line-height: 1.2;
  padding: 10px 20px;
  place-content: center;
  place-items: center;
  text-align: center;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 40px;
  align-items: center;
}

.footer .shots {
  display: flex;
}

.footer .about {
  display: flex;
  justify-content: flex-end;
}

.footer #upload-yours {
  border-radius: 24px;
  border: 1px solid;
  margin: 0 auto;
  padding: 10px 20px;
}

@media (max-width: 767px) {
  .footer {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .footer .shots,
  .footer .about {
    justify-content: center;
  }
}

.image-wrapper,
.about-wrapper {
  display: grid;
  place-items: center;
  padding: 40px 0;
  position: relative;
}

.about-wrapper {
  font-size: 24px;
  font-weight: 300;
  padding: 20px;
  text-align: center;
}

.privacy-policy {
  font-size: 14px;
  margin-top: 40px;
  text-transform: uppercase;
}

#random-image {
  animation: fade-in 0.5s ease-out 2s both;
  cursor: url(https://screenfac.es/cursor.svg) 40 40, pointer;
  display: block;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}

.message-wrapper {
  animation: fade-out 0.5s ease-out 2s both;
  bottom: 0;
  display: grid;
  font-size: 24px;
  left: 0;
  padding: 20px;
  place-items: center;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: -1;
}

.message--home,
.message--thanks {
  display: none;
  font-size: 32px;
  font-weight: 300;
}

#your-image {
  background: linear-gradient(
    45deg,
    rgba(122, 0, 255, 1) 0%,
    rgba(55, 95, 255, 1) 74%
  );
  display: none;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
}

#your-image .capture-wrapper {
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  padding: 1rem;
  position: fixed;
  right: 0;
}

#capture {
  align-items: center;
  background: black;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  display: flex;
  height: 4rem;
  justify-content: center;
  padding: 0;
  width: 4rem;
}

#player {
  bottom: -9999px;
  left: -9999px;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  right: -9999px;
  top: -9999px;
  transform: scaleX(-1);
}

button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-family: inherit;
  padding: 0.75rem 2.5rem;
  text-transform: uppercase;
}

canvas {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}
