html {
  --font-size-small: 14px;
  --font-size-big: 48px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --black: #1e1e1e;
  --white: #eee;
  --red: #EE0000;
  --vh: 1px;

  color: var(--black);
  background: var(--white);
}

body {
  margin: 0;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);;
  font-family: 'Space Mono', monospace;
  font-size: var(--font-size-small);
}

* {
  box-sizing: border-box;
}

#side-bar {
  border-bottom: 2px solid black;
  transform: rotate(-90deg);
  position: fixed;
  left: 0;
  top: 100%;
  z-index: 1;
  background: var(--white);
  transform-origin: top left;
  width: calc(var(--vh, 1vh) * 100);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 1.2rem;
}

#side-bar .active {
  font-weight: var(--font-weight-bold);
}

#random-image {
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-left: 23px;
}

#random-image .message-wrapper {
  background: var(--white);
  font-size: var(--font-size-big);
  height: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  animation: fade-out .5s ease-out 1s both;
  pointer-events: none;
}

#random-image .message {
  max-width: 666px;
}

.message--home,
.message--thanks {
  display: none;
}

#your-image {
  display: none;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);;
}

#your-image .capture-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

#capture {
  border-radius: 50%;
  padding: 0;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--white);
  background: var(--black);
  cursor: pointer;
}

#player {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
  transform: scaleX(-1);
}

#upload-yours {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  padding: .75rem 2.5rem;
  font-size: var(--font-size-small);
  text-transform: uppercase;
  background: var(--red);
  color: white;
}

canvas {
  display: none;
}
